body{
	background-color: #B6DB9C;
}
strong{
	background-color: rgba(255,255,255,0.2);
	color: #111111;
	display: block;
	font-size: 2em;
	padding: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3)
}
#frmBordereaux{
	background-color: white;
	box-shadow:2px 2px 6px rgba(0,0,0,0.4);
	padding: 10px;
}
#loading{
	text-align: center;
}
#tabla
{
   display:block;
   font-size:10px;
   height: 700px;
   overflow:auto;
   position:relative;
}