body{
	background-color: #3C7780;
}
strong{
	background-color: rgba(255,255,255,0.2);
	color: #111111;
	display: block;
	font-size: 2em;
	padding: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3)
}
#formulario_listado_constancias{
	background-color: white;
	box-shadow:2px 2px 6px rgba(0,0,0,0.4);
	padding: 10px;
}
ul {
	list-style:none;
	margin:0;
}
#lovely-things-list .thumb {
    width:60px;
    height:60px;
    float:left;
    margin-right:20px;
    border:solid 1px #333;
}
#lovely-things-list .list {
    clear:both;
    margin-bottom:10px;
}
#lovely-things-list .list li {
    padding:20px;
}
#lovely-things-list .list li .row{
    padding-left:20px;
}
#lovely-things-list li:nth-child(2n+1) {
    background-color:rgba(0,100,100,.2);
    border:solid 1px rgba(255,255,255,.1);
    border-radius:10px;
}
#lovely-things-list li:nth-child(2n+1) .thumb {
    border:solid 1px #666;
}
#lovely-things-list .tituloPrincipal{
    color:black;
    font-weight:bold;
    font-size:16px;
    margin-bottom:6px;
    margin-left:0;
}
#lovely-things-list .Subtitulo{
    color:red;
    font-weight:bold;
    font-size:14px;
    margin-left:0;
}
#lovely-things-list .accionesSolicitud{
	margin-left:15px;
}
#lovely-things-list p {
    font:normal 14px/1.3 'helvetica neue', helvetica, arial;
    color:#aaa;
    text-align: left;
}
#lovely-things-list .sort-by {
    margin-bottom:10px;
    width:100%;
    float:left;
    clear:both;
}
#lovely-things-list .filter {
    margin-bottom:10px;
    width:100%;
    float:left;
    clear:both;
}