​
th{	   	
	height:.6em;	
}

tr{
	height:.6em;
}

#btnRegresar, .btn{
   visibility: hidden;
}

.logo {
	margin-right:50px;
}

.tbl_datos_solicitud td {
   font-size: .7em;
}

.tbl_datos_solicitante td {
   font-size: .7em;
}

.tbl_datos_solicitud th {   
    font-size: .8em;
    text-align:center;
}

.tbl_datos_solicitante th {
   text-align:center;
   font-size: .8em;
}

.tbl_datos_contratante td {
   font-size: .6em;
}

.tbl_datos_contratante th {
   text-align:center;
   font-size: .8em;
}

.tbl_descripcion_detallada td {
   text-align:center;
   font-size: .5em;
}

.tbl_descripcion_detallada th {​
th{	   	
	height:.6em;	
}

tr{
	height:.6em;
}

#btnRegresar, .btn{
   visibility: hidden;
}

.logo {
	margin-right:50px;
}

.tbl_datos_solicitud td {
   font-size: .7em;
}

.tbl_datos_solicitante td {
   font-size: .7em;
}

.tbl_datos_solicitud th {   
    font-size: .8em;
    text-align:center;
}

.tbl_datos_solicitante th {
   text-align:center;
   font-size: .8em;
}

.tbl_datos_contratante td {
   font-size: .6em;
}

.tbl_datos_contratante th {
   text-align:center;
   font-size: .8em;
}

.tbl_descripcion_detallada td {
   text-align:center;
   font-size: .5em;
}

.tbl_descripcion_detallada th {
   text-align:center;
   font-size: .6em;
}

.tbl_ubicacion td {
   font-size: .7em;
}

.tbl_ubicacion th {
   text-align:center;
   font-size: .8em;
}

.tbl_observacion_solicitante td {
   font-size: .7em;
}

.tbl_observacion_solicitante th {
   text-align:center;
   font-size: .8em;
}

.tbl_footer_pagina td {	
   font-size: .7em;
   text-align:center;
}

.tbl_footer_pagina th {
   font-size: .8em;
   text-align:center;
}

#titulo{
   font-size: 1.2em;
   text-align:center;
}

.pie{
   visibility: hidden;
}

.subtitulo{
   	font-size: .8em;
	text-align:rigth;
}

#SumaAseguradaSolicitadaTotal{
	font-size: .7em;
}

#RestanteSumaAseguradaSolicitadaTotal{
	font-size: .7em;
}

	
   text-align:center;
   font-size: .6em;
}

.tbl_ubicacion td {
   font-size: .7em;
}

.tbl_ubicacion th {
   text-align:center;
   font-size: .8em;
}

.tbl_observacion_solicitante td {
   font-size: .7em;
}

.tbl_observacion_solicitante th {
   text-align:center;
   font-size: .8em;
}

.tbl_footer_pagina td {	
   font-size: .7em;
   text-align:center;
}

.tbl_footer_pagina th {
   font-size: .8em;
   text-align:center;
}

#titulo{
   font-size: 1.2em;
   text-align:center;
}

.pie{
   visibility: hidden;
}

.subtitulo{
   	font-size: .8em;
	text-align:rigth;
}

#SumaAseguradaSolicitadaTotal{
	font-size: .7em;
}

#RestanteSumaAseguradaSolicitadaTotal{
	font-size: .7em;
}

