table{
	border:1px solid!important;
	font-size: 0.7em;
}
table thead{
	background-color: #CCCCCC;
	color: black;	
}
.table th{
	text-align: center;
}
@media print{
	footer, hr, .btn, .navbar{
		margin: -20px;
		visibility: hidden;
	}
}