{% extends 'index.html' %}

{% comment %} Formulario para imprimir relación anexa {% endcomment %}

{% block titulo %} Relación Anexa de la Solicitud {% endblock titulo %}

{% block scriptcss %} 
	<link rel="stylesheet" href="/static/css/ReporteRelacionAnexa.css">  
{% endblock scriptcss %}

{% block contenido %}
	<input type='hidden' name='varIdSolicitud' id="varIdSolicitud" value='{{ InformacionSolicitud.IdSolicitud }}' />
	<div class="row" align="center">
	
		<div class="span2">  
			<img src="/static/img/fondo.jpg" height="50" width="90" align = "left">
		</div>
		
		<div class="control-group span8">
			<p>ACTA DE VERIFICACION</p>		
			<span>FONDO DE ASEGURAMIENTO AGROPECUARIO FORTSCHRITT</span><br/>
			<span>KM. 5 CARR. ALVARO OBREGON S/N MANITOBA CUAUHTEMOC</span><br/>
			<span>FAA970421182 RGFA-0224-97-CHIH-320521-AG-PP</span><br/>								
		</div>
	</div>
	
	<table class="table-condensed">
		<thead>
			<tr>													
				<th>FECHA</th>
				<th>NUMERO DE SOLICITUD</th>				
				<th>SOLICITUD</th>				
				<th>FECHA DE SOLICITUD</th> 
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ FechaActual|date:"d/m/y" }}</td>			
				<td style="text-align: center;">{{ InformacionSolicitud.FolioSolicitud }}</td>
				<td style="text-align: center;">{{ InformacionSolicitud.DeclaracionSolicitud }}</td>				
				<td style="text-align: center;">{{ InformacionSolicitud.FechaSolicitud|date:"d/m/y" }}</td>	
			</tr>		
		</tbody>
	</table>
	<br />
	<table class="table table-condensed">
		<thead>
			<tr>													
				<th>ASEGURADO</th>
				<th>RFC</th>
				<th>DOMICILIO</th>
				<th>TELEFONO</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ Asegurado.0.NombrePersona }}</td>
				<td style="text-align: center;">{{ Asegurado.0.RfcPersona }}</td>
				<td>{{ Asegurado.0.DireccionPersona }}</td>
				<td style="text-align: center;">{{ Asegurado.0.TelefonoPersona }}</td>
			</tr>		
		</tbody>
		<thead>
			<tr>													
				<th>CONTRATANTE</th>
				<th>RFC</th>
				<th>DOMICILIO</th>
				<th>TELEFONO</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ Contratante.0.NombrePersona }}</td>
				<td style="text-align: center;">{{ Contratante.0.RfcPersona }}</td>
				<td>{{ Contratante.0.DireccionPersona }}</td>
				<td style="text-align: center;">{{ Contratante.0.TelefonoPersona }}</td>
			</tr>
		</tbody>		
	</table>
	
	<table class="table table-condensed">
		<thead>
			<tr>													
				<th>MEDIDAS DE SEGURIDAD</th>
			</tr>
		</thead>
		<tbody>
			{% if informacionMedidaSeguridad %}
				{% for mediasSeguridad in informacionMedidaSeguridad %}
				<tr>
					<td>{{ mediasSeguridad.MedidasSeguridad }}</td>
				</tr>
				{% endfor %}					
			{% endif %}
		</tbody>
	</table>
	
	<table class="table table-condensed">
		<thead>
			<tr>													
				<th>DICTAMEN DE LA INSPECCION</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ informacionActaVerificacion.DictamenInspeccion }}</td>
			</tr>
		</tbody>
	</table>
	<center>
		<table class="tblFirmas">
			<tr>
				<td style="width:20%;">______________________________</td><td></td>
				<td style="width:20%;">______________________________</td><td></td>
				<td style="width:20%;">______________________________</td>
			</tr>
			<tr>
				<td style="text-align: center;">{{ Asegurado.0.NombrePersona }}</td><td></td>
				<td style="text-align: center;">SUSCRIPTOR</td><td></td>
				<td style="text-align: center;">GERENTE FONDO</td>
			</tr>
		</table>
	</center>
	<br />
	<div class="row">
		<div class="pull-right">
			<button id="btnImprimir" name="btnImprimir" class="btn btn-primary"><i class="icon-print icon-white"></i> Imprimir</button>
			<button id="btnRegresar" name="btnRegresar" class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Regresar</button>
		</div>
	</div>
{% endblock contenido %}

{% block scriptjs %} 
	<script src="/static/js/ReporteActaVerificacion.js"></script> 
{% endblock scriptjs %} 