{% extends 'index.html' %}

{% comment %} Formulario para imprimir programas de aseguramiento {% endcomment %}

{% block titulo %} Programa {% endblock titulo %}

{% block scriptcss %} 
	<link rel="stylesheet" href="/static/css/ReportePrograma.css" media="print"> 
{% endblock scriptcss %}

{% block contenido %}
<form class="form-horizontal" id="formulario_reporte_programa" method="post" action="" accept-charset="utf-8"> <!-- Generación el formulario para los programas de aseguramiento. -->
{% csrf_token %}
	<fieldset>
		<input type='hidden' name='varIdPrograma' id="varIdPrograma" value='' />
		<div class="row" align= "center">
			<div class="span2">  
				<img class="logo" src="/static/img/fondo.jpg" height="50" width="90" align = "left">
			</div>	
			
			<div class="control-group span8">
				<p class="text-center" id="titulo">PROGRAMA DE ASEGURAMIENTO</p>		
				<span class="subtitulo text-center">FONDO DE ASEGURAMIENTO AGROPECUARIO FORTSCHRITT</span><br/>
				<span class="subtitulo text-center">KM. 5 CARR. ALVARO OBREGON S/N MANITOBA CUAUHTEMOC</span><br/>
				<span class="subtitulo text-center">FAA970421182 RGFA-0224-97-CHIH-320521-AG-PP</span><br/>								
			</div>
		</div>
		
		<table class="table tbl_encabezado_reporte_programa_1 table-condensed" border="1">
			<thead>
				<tr>
					<th width="1%">FECHA</th>
					<th width="8%">FOLIO</th>
					<th width="7%">CONTRATO</th>
					<th width="10%">TIPO DE SEGURO</th>
					<th width="10%">SUB TIPO DE SEGURO</th>					
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		
		<table class="table tbl_encabezado_reporte_programa_2 table-condensed" border="1">
			<thead>
				<tr>		
					<th width="22%">MONEDA</th>				
					<th width="1%">EJERCICIO</th>
					<th width="25%">HABILITADOR</th>
					<th>OBSERVACIONES</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		
		<table class="table tbl_cobertura table-condensed" border="1">
			<thead>
				<tr>													
					<th>COBERTURAS</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table> 
		
		<table class="table tbl_area_influencia table-condensed" border="1">
			<thead>
				<tr>													
					<th>AREA DE INFLUENCIA</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>								
	</fieldset>
	
	<footer>
  		<table class="table tbl_footer_pagina table-condensed" border="1">
			<thead>
				<tr>													
					<th>PRESIDENTE</th>
					<th>SECRETARIO</th>
					<th>TESORERO</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		
		<div class="row">	
		<!-- Generación de botones del formulario -->
		<div class="control-group pull-right">
	  		<label class="control-label"></label>
	  		<div class="controls">
	  			<a id="btnImprimir" name="btnImprimir" class="btn btn-primary"><i class="icon-print icon-white"></i> Imprimir</a>
	    		<a id="btnRegresar" name="btnRegresar" class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Regresar</a>
	  		</div>
		</div> <!-- Fin generación de botones del formulario -->
	</div>
	</footer>
</form>
{% endblock contenido %}

{% block scriptjs %} 
	<script src="/static/js/ReportePrograma.js"></script>
 	<script src="/static/js/jquery.validate.js"></script>
{% endblock scriptjs %} 