{% extends 'index.html' %}

{% comment %} Formulario para mostrar el listado de inspecciones del aviso de siniestro. {% endcomment %}

{% block titulo %} Inspecciones {% endblock titulo %}

 {% block scriptcss %} 
 	<link rel="stylesheet" href="/static/css/ListadoInspecciones.css">
 {% endblock scriptcss %}

{% block contenido %}
<strong>Inspecciones</strong>
<form class="form-horizontal" id="formulario_inspecciones" method="post" action="" accept-charset="utf-8">
{% csrf_token %}
	<!-- Campos para ingresar la información general del aviso. -->	
	<fieldset>
		<legend></legend>
	 	<a id="btnNuevaInspeccion" name="btnNuevaInspeccion" role="button" class="btn btn-success"><i class="icon-file icon-white"></i> Inspeccion Nueva</a>  
		<p></p>          		
        <div id="list_inspecciones">
            <input type="text" class="search-fuzzy input-xlarge search-query span6" id="txtBuscarInspeccion" placeholder="Buscar Inspección" /> Ordenar por: 
            <a role="button" class="sort btn btn-warning" data-sort="FolioInspeccion"><i class="icon-file icon-white"></i> Inspeccion</a>  
            <a role="button" class="sort btn btn-warning" data-sort="Asegurado"><i class="icon-user icon-white"></i> Asegurado</a>
			<p></p>
            <ul class="paging topPaging clearfix"></ul>
            <ul class="list">
            </ul>
            <ul class="paging bottomPaging clearfix"></ul>
        </div>
        
	</fieldset>	<!-- Se termina la generación del listado de inspecciones. -->
</form>

{% endblock contenido %}

{% block scriptjs %}
 	<script src="/static/js/jquery.validate.js"></script>
	<script src="/static/js/lib/list.min.js"></script>
	<script src="/static/js/lib/list.fuzzySearch.min.js"></script>
	<script src="/static/js/ListadoInspecciones.js"></script>
{% endblock scriptjs %}