<!-- Modal for people find -->
<div id="buscarPersona" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Buscar Persona</h3>
		<br />
			<input type="text" class="input-xlarge search-query span4" id="txtBuscarPersona" placeholder="Buscar Persona">
			<button type="submit" class="btn" id="btnBuscarPersona">Buscar</button>
		
	</div>
	<div class="modal-body">
		<table class="table busquedaPersona table-striped">
			<thead>
			</thead>
			<tbody>	
			</tbody>
		</table>		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	</div>
</div><!-- Termino del codigo para la generación del modal busqueda de personas. -->
